.contact-container {
    min-height: 80vh;
    padding: 20px;
}

.map-area {
    width: 600px;
    height: 560px;
    // width: 700px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin-left: 120px;
}

.map-area iframe {
    width: 100%;
    height: 100%;
    border: 1px soild sandybrown;
    border: none;
    border-radius: 10px;
}
