.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    overflow: hidden;
}

.slider-track {
    display: flex;
    animation: scroll 35s linear infinite;
}

@keyframes scroll {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(-250px * 18 / 2));
    }
}

.slide {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.slide img {
    border-radius: 10px;
    background-color: #d5cdcd;
    padding: 8px;
    width: 200px;
    height: 150px;
    margin: 0 24px;
    transition: transform 1s;
}

.slide img:hover {
    transform: translateY(-20px);
    z-index: 999;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 999;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(100deg);
}
