.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    overflow: hidden;
    place-items: center;
    // margin-bottom: 600px;
}

.slider-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 35s linear infinite;
}

.slider-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 18));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide img {
    width: 200px;
    height: 200px;
    margin: 0 24px;
    transition: transform 1s;
}

.slide img:hover {
    transform: translateY(20px);
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 999;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(100deg);
}
