.page-subheading {
    text-transform: uppercase;
    color: #333;
    font-size: 18px;
    padding: 0 0 15px;
    line-height: normal;
    margin-bottom: 12px;
    border-bottom: 1px solid #ebebeb;
}

.my-account-container {
    min-height: 60vh;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 36px;
    margin-top: 24px;
}
