.my-account-container {
    min-height: 40vh;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 24px;
}

.recover-password {
    color: grey;
    border-color: grey;
    &:hover {
        color: white;
        background-color: #fe2c55;
    }
}