.page-subheading {
    text-transform: uppercase;
    color: #333;
    font-size: 18px;
    padding: 0 0 15px;
    line-height: normal;
    margin-bottom: 12px;
    border-bottom: 1px solid #ebebeb;
}