.my-account-container {
    min-height: 60vh;
    // margin-left: 160px;
    // margin-right: 160px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.my-account-container2 {
    // min-height: 60vh;
    margin-left: -160px;
    margin-right: -160px;
    // margin-bottom: 24px;
    // margin-top: 24px;
}