.custom-header {
    min-height: 64px;
    color: var(--header-text);
    background-color: var(--header-color);

    .hearder-design_button {
        position: relative;

        // make divider
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -4px;
            transform: translateY(-50%);
            width: 1px;
            height: 80%;
            background-color: #474747;
        }

        // hide the last divider
        &:last-child::after {
            display: none;
        }
    }
}
.hearder-design_button:hover {
    color: #e34444;
}

// color for header: #222
.running-text {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.running-text span {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    transform: translateX(50%);
    /* Apply animation to this element */
    animation: running-text 10s linear infinite;
}

/* Move it (define the animation) */
@keyframes running-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
