.custom-table-pagination {
    font-size: 1.4rem;
}

.custom-table-pagination p,
.custom-table-pagination div,
.custom-table-pagination button {
    font-size: 1.4rem;
}

// Add User
.new-user {
    display: flex;
    .new-user-container {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
