.empty-card-container {
    // min-height: 60vh;
    margin-top: 24px;
}

.border-container {
    border: 1px solid var(--header-text);
    padding: 32px;
}

.empty-card {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.empty-card-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
